.cuerpo__titulo {
	text-align: center;
	font-family: 'Raleway', sans-serif; 
	font-size: 40px;
	color: #732002;
	margin: 0px auto 20px auto;
}
.cuerpo__textos {
	font-family: 'Fenix';
	font-size: 20px; 
	color: #732002;
	text-align: center;
	line-height: 1.5;
	margin: 20px 100px 0px 100px;
	
}

.cuerpo__textos--2 {
	padding-bottom: 20px;
}
.cuerpo {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.cuerpo__subtitulo {
	font-family: 'Raleway', sans-serif ;
	font-size: 25px ;
	color: #732002;
	margin: 10px;
	text-align: center;
}
.cuerpoSubtitulo {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 6px;
	text-align:center;
	background-image: linear-gradient(to bottom, #fbd9a6, #F2C230);
	
}
.carrouselProductos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.descInicial {
	background-image: linear-gradient(to bottom, #ffffff, #fbd9a6);
}