.categorias {
	padding: 30px;
	font-family: 'Fenix';
	font-size: 20px;
	color: #732002;
        li {
            list-style: none;
            font-size: 18px;
            border-bottom: 3px solid #732002;
            padding: 2px;
            width: 50%;
            margin: 0 auto;
                ul {
                    max-height: 0;
                    transition: max-height 2s;
                    overflow: hidden;
                    li {
                        border: 2px solid #732002;
                        border-radius: 10px;
                        display: inline-block;
                        padding: 5px;
                        margin: 5px;
                        width: auto;  
                    }
                }
        }
}

.categorias li:hover ul {
	max-height: 1000px;
}

.categorias li ul li:hover {
	background-color: #e6b71e;
}
