.card-img-top-TN {
	height: 300px;
	width: 300px;
	align-self: center;
	
}
.card-body-TN {
	padding: 10px;
	font-family: 'fenix';
	color: #732002;
	display: flex;
	justify-content:center;
	text-align: center;
	font-size: 22px;
}
.contenedorTN {
	border: #732002 2px solid;
	border-radius: 10px;
	background-color: #E6E9EE;
	margin: 5px;
	max-width: 300px;
}
.cardTN {
	border: none ;
	background-color: #E6E9EE;
}
.descprod {
	font-size: 16px;
}
.titProd {
	font-size: 26px;
}


.botonNuevo {
	font-size: 15px;
	margin-left: 100px;
}