@import 'header';
@import 'body';
@import 'footer';
@import 'tarjetas';
@import 'productos';
@import 'contactenos';
@import 'quienesSomos';

* {
	margin: 0px;
	font-family: 'Fenix';
	color: #732002;
}





// .cuerpo__titulo--contacto {
// 	text-align: center;
// 	font-family: 'Fenix';font-size: 30px;
// 	color: #732002;
// 	margin: 20px;
// 	grid-area: header;
// 	display: none
// }


// .cuerpo__listaProductos {
// 	font-family: 'Fenix';
// 	font-size: 20px; 
// 	color: #732002;	
// }



